extends layout

block content
  h1= title
  a(href="/new") Send a message
  ul
    each message in messages
      li
        span !{message.text}
        | : 
        span !{message.user}
        | : 
        span #{moment(message.added).format('MMMM Do YYYY, h:mm:ss a')}

    else
      li There are no messages.